<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" type="text/css" href="../css/cadastro.css" />
    <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
    <title>Cadastro com formulário</title>   

  </head>
  <body>
    <section class="container">
      <div class="logo">
        <a href="../index.html"><img src="../img/logo.png" alt="logo" width="70"></a>
      </div>
      <header>Formulário de registro</header>
      <form action="https://webhook.site/f5c4c4bc-aec7-496e-89b1-584ce61d3bc8" class="form" method="post">
        <div class="input-box">
          <label for="Nome">Nome completo</label>
          <input type="text" id="Nome" name="nome" placeholder="Nome completo" required />
        </div>

        <div class="input-box">
          <label for="Email">Endereço de e-mail</label>
          <input type="email" id="Email" name="email" placeholder="Endereço de e-mail" required />
        </div>

        <!-- Bloco de senha -->
        <div class="input-box">
          <label for="senha">Senha</label>
          <input type="password" id="senha" placeholder="Digite a sua senha" required />
        </div>

        <div class="input-box">
          <label for="confirm_senha">Confirmação de Senha</label>
          <input type="password" id="confirm_senha" placeholder="Digite a sua senha" required />
        </div>
        <!-- Fim do bloco de senha -->

        <div class="column">
          <div class="input-box">
            <label for="telefone">Número de telefone</label>
            <input type="number" id="telefone" placeholder="Número de telefone" required />
          </div>
          <div class="input-box">
            <label for="data_nascimento">Data de nascimento</label>
            <input type="date" id="data_nascimento" required />
          </div>
        </div>

        <div class="gender-box">
          <h3>Gênero</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked/>
              <label for="check-male">masculino</label>
            </div>

            <div class="gender">
              <input type="radio" id="check-female" name="gender" checked/>
              <label for="check-female">Feminino</label>
            </div>

            <div class="gender">
              <input type="radio" id="check-other" name="gender" checked/>
              <label for="check-other">prefere não dizer</label>
            </div>
          </div>
        </div>

        <div class="input-box address">
          <label>Endereço</label>
          <input type="text" id="endereco1" placeholder="Endereço 1" required />
          <input type="text" id="endereco2" placeholder="Endereço 2" required />
          <div class="column">
            <div class="select-box">
              <select id="pais" name="pais">
                <option hidden>País</option>
                <option>Brasil</option>
                <option>Inglaterra</option>
                <option>USA</option>
                <option>Mexico</option>
              </select>
            </div>

            <input type="text" id="cidade" placeholder="Digite sua cidade" required />
          </div>
          <div class="column">
            <div class="select-box">
              <select id="regiao" name="regiao">
                <option hidden>Região</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
              </select>
            </div>
            <input type="number" id="CEP" placeholder="Digite o CEP" required />
          </div>
        </div>
        <input type="submit" name="Enviar" id="submit">
      </form>
    </section>
  </body>
</html>